@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
*{
    font-family: 'Open Sans', sans-serif;  
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform:capitalize ;
    -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
:root {
    --black: #000;
    --white:#fff;
    --blue:#24429C;
    --blueAlt:#1C347D;
    --yellow:#FBCF31;
    --yellowAlt:#E0A500;
    --text:#DDE1E6;
  }
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;  

}
html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #000;
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--yellowAlt);
  }
  body {
    background: #F8F7F7;
  }

section{
    padding: 5rem 9%;
  }

  .heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }
  .heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
  }
  
  .heading span {
    font-size: 3rem;
    color: var(--white);
    background: var(--yellowAlt);
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
  }
  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background:linear-gradient(130deg, #E0A500 93%,transparent 90%);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
  }
  .btn:hover{
    transform: scale(1.1);
  }

  .inscripciones{
  
  }
.inscripciones-cover{
    width:100%;
height:40vh;
    display: flex;
    align-items: center;
    background: url(/Assets/cover-inscription.jpg);
    background-size: cover;
    background-position: center;
  
}
.event-text{
    color: #fff;
    text-align: center;
    width: 50%;
}
.event-text p:first-child{
    font-size: 3rem;
}
.event-text p:nth-child(2){
    font-size: 2rem;
}
.box{
    display: flex;

    align-items: center;
    width: 100%;
    height: 100px;
    
}
.informes{
    width: 100%;
    height: 100px;
    display: grid;
    gap: 10px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background: var(--blueAlt);
  padding: 20PX;
  color: #DDE1E6;

}
.informes p:first-child{   
    text-align: right;
    font-size: 1.5rem;

}
.costos{


}
.tc-container{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;

}
.tc-container img{
    width: 100%;
}
.info-tc{

}
.info-tc p{
    font-size: 2rem;
    text-align: center;
    background: var(--yellowAlt);
    border-radius: 8px;
    padding: 5px;
}

.info-tc ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
   
}


.info-tc  li{
    font-size: 1.5rem;
    margin-bottom: 10px;
   
}
li span{
    font-weight:bold;
    background:var(--yellow);
    margin-right: 5px;
}

/* info costo de evento */
.costo-evento{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background: var(--blueAlt);
    padding: 1.5rem;
    
    }
    .costo-evento img{
        width: 100%;
    }
.info-ce p{
    font-size: 2rem;
    text-align: center;
    background: var(--yellowAlt);
    border-radius: 8px;
    padding: 5px;
    color: #fff;
}

.info-ce ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}


.info-ce  li{
    font-size: 1.5rem;
    color: #fff;
}

/* info paquetes */
.paquetes{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
    }
    .paquetes img{
        width: 100%;
    }
.info-paquetes p:first-child{
    font-size: 2rem;
    text-align: center;
    background: var(--yellowAlt);
    border-radius: 8px;
    padding: 5px;
}
.info-paquetes .sub-title{
    font-size: 2rem;
    font-style: italic;
    margin-top: 10px;
}

.info-paquetes ul{
    list-style: none;   

    line-height: 3em;
    
    
}


.info-paquetes  li{
    font-size: 1.5rem;
}

/* informacion para inscripciones */
.info-insc{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 1.5rem;
    
    }
    .info-2-insc p:first-child{
        font-size: 2rem;
        text-align: center;
        background: var(--yellowAlt);
        border-radius: 8px;
        padding: 5px;
     }
    
     .info-2-insc p{
        font-size: 1.5rem;
        margin-top: 10px;
        text-align: justify;
     }
    .info-insc img{
        width: 100%;
    }

/* parallax */
    .parallax {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;
        padding: 0;
        margin: 0;
      }
      
.wrapper-parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
      
 .background {
 transform: translateZ(-10px) scale(2);
}
      
 .foreground {
 transform: translateZ(-5px) scale(1.5);
      }
      
 .background,
.foreground {
 position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
z-index: -1;
 }
      
.title {
font-size: 7rem;
 color: white;
text-shadow: 0 0 5px black;;
 }
  /* condiciones de inscripciones */
  .condiciones{
    padding: 2rem;
    background:#1C347D;
    color:#fff;
  }
 .condiciones-insc{
 margin-top: 10px;
 display: grid;
  grid-template-columns: 1fr 1fr;
 gap: 10px;
 padding: 1.5rem;
        
 }
 .condiciones-2-insc p:first-child{
    font-size: 2rem;
    text-align: center;
    background: var(--yellowAlt);
    border-radius: 8px;
    padding: 5px;
 }

 .condiciones-2-insc p{
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: justify;
   
   
 }
 .condiciones-insc img{
   width: 100%;
 }

/* Responsive */
@media only screen and (max-width: 850px) {
    .tc-container{
        display: grid;
        grid-template-columns: 40% 1fr;
        align-items: center;
        gap: 10px;
    }
    .paquetes{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
        }
}